:root, * {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  :root, * {
    font-family: "Inter var", sans-serif;
  }
}
.fg-white {
  color: white !important;
}

.fg-red {
  color: rgba(233, 58, 58, 0.8588235294) !important;
}

.fg-yellow {
  color: rgba(216, 152, 50, 0.7725490196) !important;
}

.fg-green {
  color: rgba(13, 167, 95, 0.7529411765) !important;
}

.fg-blue {
  color: rgba(65, 92, 200, 0.8823529412) !important;
}

.bg-red {
  background: rgba(233, 58, 58, 0.8588235294) !important;
}

.bg-yellow {
  background: rgba(216, 152, 50, 0.7725490196) !important;
}

.bg-green {
  background: rgba(13, 167, 95, 0.7529411765) !important;
}

.bg-blue {
  background: rgba(65, 92, 200, 0.8823529412) !important;
}

.bg-red-glow {
  box-shadow: 0 0 10px rgba(233, 58, 58, 0.8588235294);
  background: rgba(233, 58, 58, 0.8588235294) !important;
}

.bg-yellow-glow {
  box-shadow: 0 0 10px rgba(216, 152, 50, 0.7725490196);
  background: rgba(216, 152, 50, 0.7725490196) !important;
}

.bg-green-glow {
  box-shadow: 0 0 10px rgba(13, 167, 95, 0.7529411765);
  background: rgba(13, 167, 95, 0.7529411765) !important;
}

.bg-blue-glow {
  box-shadow: 0 0 10px rgba(65, 92, 200, 0.8823529412);
  background: rgba(65, 92, 200, 0.8823529412) !important;
}

.gd-special {
  background: linear-gradient(45deg, rgba(134, 53, 255, 0.97) 0%, #2954ff 48%, rgba(118, 27, 255, 0.92) 100%) !important;
}

.gd-green {
  background: linear-gradient(45deg, rgba(47, 196, 82, 0.9764705882) 0%, rgba(47, 196, 79, 0.7215686275) 48%, rgba(86, 208, 65, 0.7215686275) 100%) !important;
}

.gd-teal {
  background: linear-gradient(45deg, rgba(17, 123, 103, 0.9764705882) 0%, rgba(37, 151, 134, 0.7215686275) 48%, rgba(36, 155, 137, 0.7215686275) 100%) !important;
}

.gd-yellow {
  background: linear-gradient(45deg, rgba(123, 95, 17, 0.9764705882) 0%, #8c5e13 48%, rgba(185, 125, 14, 0.9294117647) 100%) !important;
}

.gd-red {
  background: linear-gradient(45deg, rgba(123, 31, 17, 0.9764705882) 0%, #8c1d13 48%, rgba(185, 40, 14, 0.9294117647) 100%) !important;
}

.gd-light {
  background: linear-gradient(45deg, rgba(126, 118, 56, 0.9764705882) 0%, rgba(175, 171, 66, 0.8823529412) 48%, rgba(155, 141, 36, 0.9294117647) 100%) !important;
}

.gd-dark {
  background: linear-gradient(45deg, rgba(44, 37, 58, 0.9764705882) 0%, #1f1b3a 48%, rgba(28, 24, 57, 0.9294117647) 100%) !important;
}

header.grid {
  display: grid;
  grid-template-columns: auto auto auto;
}
header.grid a {
  color: inherit;
  text-decoration: none;
}
header.grid div.featured {
  margin: 1rem;
  width: 100%;
  cursor: pointer;
}
header.grid div.featured:hover {
  opacity: 0.8;
}
header.grid div.featured img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
}

@media (max-width: 767px) {
  header.grid div.featured img {
    width: 100%;
  }
}
div.embed {
  text-align: center;
  overflow: hidden;
}
div.embed .embed-title {
  margin-block: 0.5rem;
}

.info-text {
  opacity: 0.5;
  margin-block: 0.5rem;
}

div.mini-list {
  width: 100%;
  display: flex;
  flex: 1 1 0px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
div.mini-list div.mini-item {
  margin: 1rem;
  width: 100px;
  text-align: center;
}
div.mini-list div.mini-item img, div.mini-list div.mini-item svg {
  border-radius: 50%;
}

code {
  font-family: monospace;
}

input.slim {
  font-size: 1.2rem;
  width: 17ch;
}

@-webkit-keyframes blitz {
  from {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.137254902);
  }
  to {
    text-shadow: none;
  }
}

@keyframes blitz {
  from {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.137254902);
  }
  to {
    text-shadow: none;
  }
}
.glow-blitz {
  cursor: pointer;
}
.glow-blitz:hover {
  color: #863bc8;
}
.glow-blitz:active {
  color: #8e58e3;
}/*# sourceMappingURL=space.css.map */